<?xml version="1.0" encoding="UTF-8"?>
<config>
	<template>theme1</template>
	
	<mainNav>
		<item>
			<label>Home</label>
			<href>/</href>
		</item>
		<item>
		  <label>Submit</label>
		  <href>#</href>
	  </item>
	  <item>
	    <label>Resources</label>
	    <href>#</href>
    </item>
    <item>
      <label>Students</label>
      <href>#</href>
    </item>
	</mainNav>
	
	<footerNav>
	  <item>
			<label>Admin</label>
			<href>/pages/admin</href>
	  </item>
	</footerNav>
	
	<adminPermission>AdminPermission</adminPermission>
</config>
